/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #211f1f;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #201a1a;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: #ff4500;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px 50px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content h3 {
    color: #ff4500;
}

.profile-img {
    width: 280px;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.features {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: #111;
    gap: 20px;
}

.feature-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    flex: 1;
}

.about {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #222;
}

.stats h3 {
    font-size: 2em;
    color: #ff4500;
    margin: 0;
}

.about-text {
    max-width: 50%;
}

.about-text h2 {
    font-size: 2em;
}

.btn {
    display: inline-block;
    padding: 7px 20px;
    background-color: #ff4500;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #e63900;
}

.portfolio{
padding:20px 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
}

